.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    .card-container{
        width: 300px;

        .card-header{
            background-color: #673ab7;
            padding: 10px;
            color: white
        }

        .copy_button{
           align-self: center;
           margin-left: 70px;
        }
    }
}