<mat-tab-group>
    <mat-tab label="Create Product">
        <div *ngIf="uploading" class="loader-overlay">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <form [formGroup]="form" (ngSubmit)="uploadImage()" class="product">
            <mat-form-field>
                <mat-label>Levels</mat-label>
                <mat-select formControlName="level">
                    @for (item of levels; track item) {
                    <mat-option [value]="item.value">{{item.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Image Name" formControlName="imageName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Price" formControlName="price" type="number" required>
            </mat-form-field>

            <input style="margin-top: 30px;" type="file" (change)="onFileSelected($event)">
            <button style="margin-top: 10px;" mat-raised-button color="primary" type="submit">Upload Image</button>
        </form>
    </mat-tab>
    <mat-tab label="Product List">
        <div class="product-list">
            <mat-toolbar color="warn">Display Images</mat-toolbar>
            <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
        </div>
        <div class="product-list">
            <mat-toolbar color="warn">VIP -1 Images</mat-toolbar>
            <app-product-card *ngFor="let product of vipOne" [product]="product"></app-product-card>
        </div>
        <div class="product-list">
            <mat-toolbar color="warn">VIP -2 Images</mat-toolbar>
            <app-product-card *ngFor="let product of vipTwo" [product]="product"></app-product-card>
        </div>
        <div class="product-list">
            <mat-toolbar color="warn">VIP -3 Images</mat-toolbar>
            <app-product-card *ngFor="let product of vipThree" [product]="product"></app-product-card>
        </div>
    </mat-tab>
</mat-tab-group>